pyrofork==2.3.43
python-telegram-bot
umongo
tgcrypto
pymongo[srv]==3.12.3
motor==2.5.1
marshmallow==3.14.1
requests
bs4
git+https://github.com/Joelkb/cinemagoer
datetime
pytz
aiohttp
cinemagoer
shortzy

PyLeaves==1.0.2
cinemagoer
shortzy==0.0.8
aiofiles
pyromod==1.5

telegraph
openai

jinja2
apscheduler
pyshorteners
colorama
fuzzywuzzy
python-Levenshtein
googletrans==4.0.0-rc1
